* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: #fff;
}

body {
  background: linear-gradient(35deg, #0f0a0a, 70%, red);
  height: 100vh;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;
}

.header img {
  height: 50px;
  scale: 0.9;
  filter: saturate(3);
  transition: 0.5s ease;
}

.header img:hover {
  filter: saturate(3);
  scale: 1;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-left: 35px;
  font-size: 19px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.navbar a::before {
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #f00;
  position: absolute;
  left: 0;
  top: -100%;
  transition: 0.5s ease;
  opacity: 0;
  z-index: -1;
}

.navbar a:hover::before {
  top: 0;
  opacity: 1;
}

section {
  padding: 10rem 9% 2rem;
  height: 100dvh;
  width: 100%;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .imageSet1 img {
  height: 400px;
}

.text-content {
  max-width: 600px;
}

.text-content h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 550;
}

.text-content span {
  font-size: 32px;
  color: #c90707;
}

.text-content p {
  font-size: 13px;
}

.button {
  margin: 20px 0;
  color: #fff;
}

.btn {
  height: 45px;
  width: 150px;
  background: transparent;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: solid 2px #f00;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  left: 0;
  top: -100%;
  background: linear-gradient(#0f0a0a, red, #0f0a0a, red);
  transition: 0.5s ease;
  z-index: -1;
}

.btn:hover:before {
  top: 0;
}

.imageSet1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSet1 img{
  position: absolute;
  top: 150px;
  right: 30px;
  width: 600px;
  height: auto;
  border-radius: 10px;
  animation: powerUp 2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 10px red);
  transition: all 0.3s ease;
    }

    @keyframes powerUp {
      0% {
        transform: scale(1);
        filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.484)) brightness(1);
      }
      100% {
        transform: scale(1.05);
        filter: drop-shadow(0 0 30px rgba(220, 20, 60, 0.599)) brightness(1.3);
      }
    }
